*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    background-color: rgb(12, 10, 10);
    display: flex;
    align-items: center;
    height: 100px;
}
.header h1{
    color: rgb(185, 27, 27);
}
.header nav{
    margin: auto auto;
}
.navbar ul{
    display: flex;
    padding: 0px;
    align-items: center;
}
.items{
    list-style: none;
    margin: 4px;
}
.items .dropdown{
  padding:0px 15px;
}
.items a{
    padding: 1px 15px;
    text-decoration: none;
    color: white;
}


a.current{
  color: red;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  color: white;
}

.navbar a:hover{
  color: red;
}

.dropdown:hover .dropbtn {
  color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

div.container-element{
    display: flex;

}
div.text{
    width: 800px;
    height: 400px;
    overflow: hidden;
}
#text-1{
    background: url("/Services/img/classic.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
#text-2{
    background: url("/Services/img/Group.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.data{
    color: white;
    position: relative;
    top: 100%;
    background-color: rgba(33,33,33,.8509803921568627);
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data h2, .data p, .data button{
    margin-bottom: 20px;
}
.data h2{
    margin-top: 20px;
}
.text:hover > .data{
    top:40%;
}

.button{
    display: flex;
    justify-content: center;
}
button{
    background: black;
    width: 100px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    margin-top: 20px;
    font-size: medium;
}

hr{
    border: 2px solid rgb(37, 35, 35);
    background-color: rgb(37, 35, 35);
    border-radius: 10px;
    margin-top: 50px;
    width: 80%;
    position: relative;
    left: 10%;
}

div.footer-2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    font-size: large;
  }
  .foot div:first-child{
    color: black;
    font-size: x-large;
  }
  .foot div{
    margin: 10px;

  }


.foot div a{
  text-decoration: none;
  color: #75787B;
}

div.options{
    display: flex;

}

.current{
    color: red;
}